.env
node_modules
/src/generated/prisma
avance_final-project.md
DEFENSA.md
DEFENSA.pdf
falta.md
proyecto_final.md
estado-proyecto.md

# Python & AI
ai_service/venv/
ai_service/chroma_db/
__pycache__/
